#Bend li {
    display: inline; 
}
#Bend {
    color: #000;
    border-bottom: 2px solid #455372;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 1px;
    padding-left: 30px;
}
#Bend li a {
    color: #000;
    background: #d9dbe1;
    border: 2px solid #455372;
    padding: 3px 5px 1px 5px;
    margin: 0px;
    text-decoration: none;
}
#Bend li a:hover {
    border-bottom-color: white;
    background-color: #eee;
    color: #455372;
    }
    #Bend li a:active {
    color: #c00;
}
#aktivni {
    color: #000;
    background: #fff;
    border-bottom-color: red;
}
